<!-- <h1><%= current_user.email %>'s Home Page</h1> -->
<div class="container">
<h2 id="tables-example">Your Added Words</h2>

  <div class="bs-example" data-example-id="simple-table">

    <table class="table">
      <!-- <caption>Optional table caption.</caption> -->
      <thead>
        <tr>
          <th>Word</th>
          <th>Category</th>
          <th>Tense</th>
          <th>Genre</th>
        </tr>
      </thead>
      <% @user.words.each do |word| %>
      <tbody>
        <tr>
          <th scope="row"><%= word.word %></th>
          <td><%= word.cat %></td>
          <td><%= word.tense %></td>
          <td><%= word.genre %></td>
        </tr>
      </tbody>
      <% end %>
    </table>

  </div><!-- /example -->
</div>
