<h1><%= current_user.email %> Home Page</h1>

<% @user.words.each do |word| %>
	<span>Word: <%= word.word %></span>
	<span>Cat: <%= word.cat %></span>
	<span>Tense: <%= word.tense %></span>
	<span>Genre: <%= word.genre %></span>
<% end %>