<!-- This is User profile page, only seen if logged in. Display's beginning of email addres -->

<div id="user-jumbotron" class="jumbotron text-center">
  <h1 class="text-center">Hi <%= current_user.email.split('@').first.capitalize %>!</h1>
    <p>This is <strong>Your</strong> Name Generator!</p>

  <div id="word-generator">
    <div class="row">
      <a href = "/users/<%=@user.id%>" class="btn btn-success btn-lg text-center">Generate a name!</a>
      <!-- Generates random word (adjective, noun) from general db AND user added words.  -->
      <!-- Work is done in Users controller -->
      <div class="randomWord"><h2 class= 'generated'><%= @word %></h2></div>
    </div>
  </div>

</div>

<div class="container">
  <!-- ADD WORD BUTTON takes you to new word page -->
        <a href = "/words/new" class="btn btn-primary btn-lg btn-block text-center pull-right">Add Word!</a>
        <br>
        <br>
        <br>
        <br>
 <div class="row">
  <!-- LOOP that renders added words into a new Panel-->
     <% @user.words.each do |word| %>
     <div class="col-md-6 col-lg-3">
    <!-- Changes color according to type(cat) word -->
      <% if word.cat == "adjective" %>
       <div class="panel panel-success">
      <% else %>
       <div class="panel panel-info">
      <% end %>
    <!-- End change color -->
         <div class="panel-heading">
           <h3 class="panel-title"><%= word.cat.capitalize %></h3>
         </div>
         <div class="panel-body">
          <a href="/words/<%=word.id%>/edit"><%= word.word.capitalize %></a>
         </div>
       </div>
     </div>
     <% end %>
<!-- Ends loop -->
 </div>
</div>
