
<div id="user-jumbotron" class="jumbotron text-center">
  <h1 class="text-center">Hi <%= current_user.email.split('@').first.capitalize %>!</h1>
    <p>This is <strong>Your</strong> Name Generator!</p>

  <div id="word-generator">
    <ul class="text-center list-inline">
      <li>
        <a href = "/users/<%=@user.id%>" class="btn btn-success btn-lg text-center">Generate!</a>
      </li>

      <li>
        <h2 class="text-center">
          <%= @word %>
        </h2>
      </li>

    </ul>
  </div>
</div>

<div class="container">
        <a href = "/words/new" class="btn btn-primary btn-lg btn-block text-center pull-right">Add Word!</a>
        <br>
        <br>
        <br>
        <br>
 <div class="row">
     <% @user.words.each do |word| %>
     <div class="col-md-6 col-lg-3">
      <% if word.cat == "Adjective" %>
       <div class="panel panel-success">
      <% else %>
       <div class="panel panel-info">
      <% end %>
         <div class="panel-heading">
           <h3 class="panel-title"><%= word.cat %></h3>
         </div>
         <div class="panel-body">
          <a href="/words/<%=word.id%>/edit"><%= word.word %></a>
         </div>
       </div>
     </div>
     <% end %>
 </div>
</div>




