<div class="container">
  <h3 class="text-center">Enter a new Word!</h3>

  <%= bootstrap_form_for(@word) do |word| %>
    <%= word.text_field :word %>
    <%= word.select :cat, ["Noun","Adjective"], {label: "Part of Speech"} %>
    <%= word.text_field :genre %>
    <%= word.text_field :tense %>
    <%= word.submit "Submit Word" %>
    <a href="/users/<%= current_user[:id] %>"><button type="button" class="btn">Your Words</button></a>
  <% end %></div>
