<!DOCTYPE html>
<html>
<head>
  <title>NameGen</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- Bootstrap Navigation Bar -->
<%= render "shared/nav" %>
<!-- End Nav -->


<%= yield %>

<!-- Footer -->
<footer class="footer">
  <div class="container">
    <p class="text-muted">&copy; Maria Nguyen 2015</p>
  </div>
</footer>
<!-- End Footer -->

</body>
</html>


